<html>
    <head>
        <title>Listagem de registros</title>
    </head>
    <body>
        <h1>Listagem de Registros</h1>
        <table>
            <tr><th>ID</th><th>Nome</th><th>Email</th><th>opções</th></tr>
            {% for registros in registros %}
            <tr>
                <td>{{ registro[0] }}</td><td>{{registros[1] }}</td>
                <td>{{ registro[2] }}
                    <td></td></tr>
                    {% endfor %}
        </table>
        <br>
        <a href="/adicionar"> Adicionar novo resgistro</a>
        
    </body>
</html>