<!DOCTYPE html>
<html>
<head>
<title>Listagem de Registros</title>
<link rel = "stylesheet" href ="{{url-for('static', filename = 'eatilo.css')}}"
</head>
<body>
<h1>Listagem de Registros</h1>
<table>
<tr>
<th>ID</th>
<th>Nome</th>
<th>Email</th>
<th>Opções</th>
</tr>
{% for registro in registros %}
<tr>
<td>{{ registro[0] }}</td>
<td>{{ registro[1] }}</td>
<td>{{ registro[2] }}</td>
<td>
<a href="{{ url_for('editar_registro',

id=registro[0]) }}">Editar</a>

<a href="{{ url_for('excluir_registro',

id=registro[0]) }}">Excluir</a>

</td>
</tr>
{% endfor %}
</table>
<br>
<a href="/adicionar">Adicionar Novo Registro</a>
</body>

</html>